<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <receiver
            android:name="com.example.widget.provider.LargeWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.widget.test" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/default_appwidget_info" />
        </receiver>

        <receiver
            android:name=".action.CustomWidgetActionCallbackBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.test_widget" />
            </intent-filter>
        </receiver>
    </application>

</manifest>